Package: pardus-lightdm-greeter-listener
Version: 1.0
Architecture: all
Maintainer: Bayram KARAHAN <bayramk@gmail.com>
Installed-Size: 18
Depends: ucspi-tcp, netcat-openbsd
Provides: pardus-greeter-listener
Section: misc
Priority: optional
Homepage: https://www.pardus.org.tr
Description: pardus-greeter-listener eklentisi
