[Unit]
Description=Start pardus-greeter-open at startup.
After=multi-user.target

[Service]
Type=simple
ExecStart=tcpserver -v -P -R -H -l 0 0.0.0.0 7777 /usr/bin/pardus-greeter-open
[Install]
WantedBy=multi-user.target
